<?xml version="1.0"?>
<robot
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="turtlebot3_burger_mujoco">

  <xacro:arg name="headless" default="false"/>

  <!--
    This URDF is the ROS control description.

    The physical robot model itself comes from the official
    ROBOTIS MuJoCo MJCF model.
  -->
  <link name="base_link"/>

  <link name="wheel_left_link"/>

  <joint name="wheel_left" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_left_link"/>
    <origin xyz="0 0.08 0.033" rpy="-1.5708 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>


  <link name="wheel_right_link"/>

  <joint name="wheel_right" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_right_link"/>
    <origin xyz="0 -0.08 0.033" rpy="-1.5708 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <ros2_control name="MujocoSystem" type="system">

    <hardware>
      <plugin>mujoco_ros2_control/MujocoSystemInterface</plugin>

      <param name="mujoco_model">$(find turtlebot3_mujoco_sim)/vendor/robotis_mujoco_menagerie/robotis_tb3/scene_turtlebot3_burger.xml</param>

      <param name="headless">$(arg headless)</param>

      <param name="sim_speed_factor">1.0</param>
    </hardware>


    <joint name="wheel_left">

      <command_interface name="velocity"/>

      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>

      <state_interface name="velocity"/>

    </joint>


    <joint name="wheel_right">

      <command_interface name="velocity"/>

      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>

      <state_interface name="velocity"/>

    </joint>

  </ros2_control>

</robot>

